# Random Semple Imputation

Aim: Random sample imputation consists of taking random observation from the dataset and we use this observation to replace the nan values

When should it be used? 
    
    ->It assumes that the data are missing completely at random(MCAR)

In [1]:
import pandas as pd

data = pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])
data.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [2]:
data.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [3]:
data.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [4]:
data['Age'].dropna().sample(data['Age'].isnull().sum(),random_state=0)

423    28.00
177    50.00
305     0.92
292    36.00
889    26.00
       ...
539    22.00
267    25.00
352    15.00
99     34.00
689    15.00
Name: Age, Length: 177, dtype: float64

In [5]:
def value_nan(data,variable,median):
    data[variable+'_median'] = data[variable].fillna(median)
    data[variable+'_rendom'] = data[variable]
    
    ### Random sample to fill NAN
    random_sample = data[variable].dropna().sample(data[variable].isnull().sum(),random_state=0)
    
    ### Mach the index to merge
    random_sample.index = data[data[variable].isnull().sum()].index
    
    ### Fit in the data
    data.loc[data[variable].isnull(),variable+'_rendom']=random_sample

In [6]:
median = data['Age'].median()
median

28.0

In [8]:
value_nan(data,"Age",median)

KeyError: 177